body {
  font-family: sans-serif;
}


#status-panel {
  position: fixed;
  right: 0;
  width: 100px;
  bottom: 0;
  top: 0;
}


#wrapper {
  border: 0;
  position: fixed;
  top: 0;
  right: 100px;
  bottom: 0;
  left: 0;
}


.tile {
  stroke: white;
  stroke-width: 1px;
  fill: green;
}

.line {
  pointer-events: none;
  stroke: black;
  stroke-width: 5px;
  stroke-linecap: round;
  fill: none;
}

.node {
  pointer-events: none;
  fill: pink;
}
